<%- include('./partials/head') %>
<body>
    <div class="fundo">
        <h1>Página não encontrada!</h1>
        <form action="/" method="GET" ><button class="btn btn-primary botao" type="submit">Voltar Para Home</button></form>
    </div>
</body>
</html>