<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./stylesheets/popUp.css">
   
    <!--Script do Pop-Up-->
    <script type="text/javascript" src="./javascripts/popUp.js" ></script>

</head>
<body>
    <div id="popup" class="popup">
        <p>Deseja criar esse jogo?</p>		
        <button type="submit">Sim</button>
        <button type="submit">Não</button>	
    </div>
    
</body>
</html>